<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>shifan</title>
</head>
<link href="fashion.css" rel="stylesheet" type="text/css" />

<body>

    <div id="topic">
	  <div class="left">
	    <p><strong>Ays</strong></p>
	  </div>
	  <div class="right">
	    <p><strong><a href="#">HOME</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><a href="#">LOG</a></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><a href="#">WOOD</a></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><a href="#">PEACH</a></strong></p>
	  </div>
	</div>
	
	<!--以上为topic-->
	
	<div id="picb">
	  <img src="images/banner.jpg" />
	</div>
	
	<!--插的大图-->
	
	<div id="picm">
	  <div class="a">
	    <img src="images/pic.jpg" />
	  </div>
	   <div id="wenzi">
	    <div class="b">
	     <p><strong>Beauty of Fashion</strong></p>
	    </div>
	    <div class="c">
	     <p>The fashion world does not mind what the real world thinks.</p>
	    </div>
	   </div>
	</div>
	
	<!--中间字最多的地方-->
	<div id="tit">
	   <div class="one">
	     <p><strong>CELEB AYS</strong></p>
	   </div>
	   <div class="two">
	     <p>My philosophy of fashion is that I like to make clothes that flatter.We are becoming one of the market leaders in the fashion industry</p>
	   </div>
	</div>
	
	<!--下面四个图-->
     <div id="low">
	  <div class="a"><img src="images/fp1.jpg" /><div class="cl"></div></div>
	  <div class="b"><img src="images/fp2.jpg" /><div class="cl"></div></div>
	  <div class="c"><img src="images/fp3.jpg" /><div class="cl"></div></div>
	  <div class="d"><img src="images/fp4.jpg" /><div class="cl"></div></div>
	 </div>
	 
	 <div id="fin">
	   <p>Copyright@Hebei GEO University</p>
	</div>
	 










</body>
</html>
